.app-pipeline/

# scaffold
node_modules/
.next/
out/
next-env.d.ts
*.tsbuildinfo
.env
.env.local
/src/generated/prisma
/prisma/*.db
/prisma/*.db-journal
/*.db
/test-results/
/playwright-report/
/*.db-*

/public/pdf.worker.min.mjs
/data/
/e2e-data-*/
